$dark-blue: #090b1a;
$desaturated-dark-blue: #1b1938;
$violet: #aa5cdb;

// neutral
$main-white: #ffffff;
$para-white: #ffffffbf;
$heading-white: #ffffff99;
// fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
$font-inter: "Inter", sans-serif;
$font-lexend: "Lexend Deca", sans-serif;
