@import "./_variables.scss", "./_resets.scss";

body {
  background-color: $dark-blue;
  line-height: 1.6em; // relative to the font size of this section
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: $para-white;
}

.card {
  // dimensions
  width: 80%;
  max-width: 1090px;
  border-radius: 0.769em;
  //  spacings
  margin: auto;
  //   color
  background-color: $desaturated-dark-blue;
  //   child properties
  display: flex;

  .contents {
    // flex: 1;
    width: 51%;
    padding: 3.9em; // fixed
    padding-right: 6.5em;
    .header {
      color: $main-white;
      font-family: $font-inter;
      line-height: 2.5em;
      padding-bottom: 1.5em;
      font-weight: 900;
      font-size: 1.2rem;
      strong {
        color: $violet;
      }
    }

    .info {
      padding-bottom: 4rem;
      color: $para-white;
    }
    .status {
      display: flex;
      justify-content: space-between;
      padding-right: 3em;
      .stats {
        .figure {
          font-family: $font-inter;
          font-size: 1.5rem;
          font-weight: 700;
          color: $main-white;
        }
        .label {
          padding: 0.5em 0;
          text-transform: uppercase;
          color: $heading-white;
          font-size: 0.9rem;
          letter-spacing: 0.066rem; //15px
        }
      }
    }
  }

  .image {
    width: 49%;
    background-image: url("./../../images/image-header-desktop.jpg");
    background-size: cover;
    border-radius: 0 0.769em 0.769em 0;
    position: relative; // for overlay
    &:after {
      position: absolute;
      background-color: #6b16a1; // #aa5cdb;
      content: "";
      height: 100%;
      width: 100%;
      opacity: 0.7;
    }
  }
}
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 700px) {
  .card {
    min-width: 375px;
    width: 100%;
    display: flex;
    flex-direction: column;
    .image {
      order: 1;
      width: 100%;
      height: 15.385em;
      flex-grow: 2;
      border-radius: 0.769em 0.769em 0 0;
      background-position-x: 0;
    }
    .contents {
      order: 2;
      width: 100%;
      padding: 3.2em;
      flex-grow: 4;
      text-align: center;
      .header {
        font-size: 0.9rem;
      }
      .status {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        .stats {
          padding-bottom: 1.5em;
        }
      }
    }
  }
}
